* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: lightgrey;
  display: block;
}

nav {
  background-color: rgb(155, 155, 155);
  display: flex;
  justify-content: space-between;
  height: 20vh;
  align-items: center;
  font-family: 'Fjalla One', sans-serif;
}

.nav-tile {
  width: 11vw;
  text-align: center;
  font-size: 1.7em;
}

#nav-tile-2 {
  width: 78vw;
  display: flex;
  justify-content: space-evenly;
}

/* @media screen and (max-width: 680px) {
  #nav-tile-2 {
    display: none;
  }
} */

.nav-tile-2-item {
  background-color: rgb(191, 191, 191);
  text-align: center;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5px;
  margin: 0 5px;
}

.nav-tile-2-item :nth-child(1) {
  font-size: 1.5em;
  line-height: 1.675;
}

.nav-tile-2-item :nth-child(2) {
  font-size: 0.8em;
  line-height: 1.675;
  font-style: italic;
  font-weight: 50;
}

#latest-articles {
  position: relative;
}

#latest-articles > h1 {
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 10em;
  font-family: 'Fjalla One', sans-serif;
  background-color: aliceblue;
  left: 50%;
  margin-top: 3%;
  margin-left: -5em;
}

#article-wrapper {
  display: flex;
  flex-wrap: wrap;
  color: aliceblue;
}

.latest-articles-tile {
  width: 50%;
  min-height: 80vh;
  display: grid;
  grid-template-rows: 45% 25% 20% 5%;
}

.head-articles {
  align-self: end;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 27%;
}

.pic-author {
  width: 4.5rem;
  height: 4.5rem;
  background-color: rgb(48, 48, 48);
  float: left;
  margin-left: 4em;
}

.main-name {
  font-size: 1.5em;
  line-height: 2.675;
  font-weight: 500;
  margin-left: 0.5em;
  margin-right: 0.2em;
}

.small {
  font-size: 1.2em;
  line-height: 1.675;
  font-weight: 0;
}

.quote-wrapper {
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 1.5em;
  font-family: 'Fjalla One', sans-serif;
}

.quote {
  font-size: 40px;
  line-height: 50px;
  font-weight: 800;
}

.tags {
  margin-left: 4em;
  margin-right: 4em;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Fjalla One', sans-serif;
  list-style: none;
}

.tags > li {
  margin-right: 2em;
  font-size: 1.2em;
  line-height: 1.675;
  font-weight: 0;
}

/* @media screen and (max-width: 680px) {
  .tags > li {
    margin-right: 2em;
    font-size: 10px;
  }
} */

.arrow {
  width: 4em;
  height: 2em;
  margin-left: 4em;
  font-family: 'Courier New', Courier, monospace;
  align-self: start;
}

.tile-1 {
  background-color: rgb(78, 77, 77);
}

.tile-2 {
  background-color: rgb(85, 84, 84);
}

.tile-3 {
  background-color: rgb(97, 97, 97);
}

.tile-4 {
  background-color: rgb(65, 64, 64);
}

#latest-posts {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.latest-posts-tile {
  height: 60vh;
  width: 24vw;
  background-color: white;
  padding: 2% 1%;
  display: flex;
  flex-direction: column;
}

.latest-posts-tile h1,
.latest-posts-tile h3,
.latest-posts-tile p {
  background-color: aliceblue;
  margin: 2% 0;
  padding: 4%;
}

.latest-posts-tile h1 {
  font-size: 27px;
}

.latest-posts-tile h3 {
  font-size: 14px;
}

.latest-posts-tile p {
  font-size: 19px;
  color: #424141;
}

#latest-posts-img-1,
#latest-posts-img-2 {
  width: 50vw;
  padding: 0;
}

#latest-posts-img-1 div {
  margin-left: 2%;
}

#latest-posts-img-1 div,
#latest-posts-img-2 div {
  height: 100%;
  width: 96%;
  margin: 0 auto;
  background-color: rgb(109, 104, 104);
}

#latest-posts-p {
  width: 100%;
  text-align: center;
  margin: 2%;
  font-size: 12px;
}

#book-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#book-section-img {
  height: 50%;
  width: 40%;
  border: 1px solid black;
}

.text-community > p {
  font-size: 19px;
  line-height: 27px;
}

#book-section p {
  width: 40%;
}

#book-section h4 {
  font-size: 12px;
}

#book-section b {
  font-size: 25px;
  text-align: center;
}

#person-of-the-week {
  grid-area: person-of-the-week;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
}

#community-img-Person {
  width: 20rem;
  height: 20rem;
  border: 1px solid gray;
  background-color: gray;
  align-self: center;
  margin-right: 2rem;
}

.text-community-head {
  width: 60%;
}

.text-community-head > p {
  font-size: 22px;
  line-height: 30px;
  font-style: normal;
  color: rgb(44, 44, 44);
}

.text-community-head > h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 4rem;
}

#community-1 {
  grid-area: community-1;
}

#community-2 {
  grid-area: community-2;
}

#community-3 {
  grid-area: community-3;
}

#community-4 {
  grid-area: community-4;
}

#community-5 {
  grid-area: community-5;
}

#community-6 {
  grid-area: community-6;
}

#more-links {
  grid-area: more-links;
  font-size: 18px;
  text-align: center;
  padding-bottom: 2%;
}

#community-links {
  display: grid;
  width: 100%;
  height: fit-content;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45vh 40vh 40vh 40vh 20vh;
  grid-template-areas:
    "person-of-the-week person-of-the-week"
    "community-1 community-2"
    "community-3 community-4"
    "community-5 community-6"
    "more-links more-links";
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.community-links-tile {
  margin: 1rem;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.community-img {
  flex-basis: 100%;
}

.image {
  width: 5rem;
  height: 5rem;
  border: 1px solid gray;
  background-color: gray;
  margin-top: -7em;
  margin-left: 3em;
}

.text-community {
  flex-basis: auto;
  padding: 3rem;
}

.text-community > h3 {
  font-size: 18px;
  font-weight: 400;
  color: rgb(102, 102, 102);
}

.text-community > h2 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(51, 51, 51);
  line-height: 40px;
}

#featured-book {
  height: 35vh;
  background-color: rgb(155, 155, 155);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#featured-book-right {
  float: left;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  margin-left: 5%;
  color: white;
}

#book-img {
  background-color: #424242;
  height: 120%;
  width: 25%;
  margin-right: 5%;
  margin-top: -8%;
}

#content-button {
  background-color: white;
  width: 25%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

#featured-book-right p {
  
  padding-bottom: 1%;
}

@media screen and (max-width: 890px) {
  .nav-tile {
    margin: 0 5%;
  }

  #article-wrapper {
    display: flex;
    flex-direction: column;
    color: aliceblue;
  }

  .latest-articles-tile {
    box-sizing: border-box;
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-rows: 45% 25% 20% 5%;
  }

  .latest-posts-tile h1 {
    font-size: 1em;
  }

  #latest-articles > h1 {
    position: absolute;
    z-index: 1;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    background-color: aliceblue;
    left: 50%;
    margin-top: 5px;
    margin-left: -5em;
  }

  .head-articles {
    font-family: 'Fjalla One', sans-serif;
    font-size: 12px;
  }

  .pic-author {
    width: 2rem;
    height: 2rem;
    background-color: rgb(48, 48, 48);
    float: left;
    margin-left: 4em;
  }

  .quote {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
  }

  .tags > li {
    display: none;
  }

  #nav-tile-2 {
    display: none;
  }

  .arrow {
    display: none;
  }

  #latest-posts {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(10, auto);
    min-height: initial;
    min-width: initial;
  }

  #latest-posts-p {
    width: 100%;
    text-align: center;
    margin: 2%;
    font-size: 12px;
    grid-column: 1 / 4;
  }

  .latest-posts-tile {
    background-color: white;
    padding: 1% 1%;
    height: initial;
    width: initial;
  }

  #latest-posts-img-1,
  #latest-posts-img-2 {
    width: initial;
  }

  .latest-posts-tile h3 {
    font-size: 1em;
  }

  .latest-posts-tile p {
    font-size: 1em;
  }

  #community-links {
    display: flex;
    flex-direction: column;
  }
  
  #featured-book-right {
  float: left;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  margin-left: 5%;
  color: white;
  font-size: 0.8em;
}

#book-img {
  background-color: #424242;
  height: 80%;
  width: 20%;
  margin-right: 5%;
  margin-top: 0%;
}

#content-button {

  background-color: white;
  width: 25%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
  
}
